body {
  background-image: linear-gradient(to right top, #d16ba5, #e5657b, #e16f4e, #c88323, #9c9700, #6d9b33, #3f9958, #009476, #007e8c, #0064a2, #0045a3, #1f1181);
  height: 100vh;
}
.container {
  margin-top: 50px;
}